<!DOCTYPE html>
<html>
<head>
<title>Welcome to DevOps - Powered by TSS</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to DevOps - Powered by TSS</h1>
<p>If you see this page, the web server is successfully installed and
working.</p>
<p>This page is proudly served to you by host: {{ ansible_fqdn }}</p>
</body>
</html>
