resource "aws_instance" "web1" {
    ami = var.ec2_ami
    instance_type = var.ec2_instance_type
}

resource "aws_instance" "web2" {
    ami = var.ec2_ami
    instance_type = var.ec2_instance_type
}

resource "aws_instance" "web3" {
    ami = var.ec2_ami
    instance_type = var.ec2_instance_type
}